@page "/login"
@using Microsoft.AspNetCore.Components
@using Timeify.Api.Shared.Models.Request
@using Timeify.Api.Shared.Models.Response
@inject HttpClient Http

<div class="container">
    <h1>Login</h1>
    
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Enter Email" class="form-control" bind="@Email"/>
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter Password" class="form-control" bind="@Password"/>
    </div>

    <button onclick="@LoginClick">LogIn</button>
</div>

@functions
{
    public string Email { get; set; }

    public string Password { get; set; }

    private async Task LoginClick()
    {
        Console.WriteLine($"Login with {Email} and {Password}");
        var loginRequest = new LoginRequest()
        {
            UserName = Email,
            Password =  Password
        };

        var response = await Http.PostJsonAsync<LoginResponse>("", loginRequest);

        Console.WriteLine(response.RefreshToken);

    }




}

